*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* max-width: 1100px; */
    font-size: 1.2rem;
} 

header{
    background-color: rgba(78,160,255,255);
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-repeat: repeat-x;
    height: 5em;
}

header img{
    position: relative;
    width: 250px;
    margin-top: 15px;
}

.grigio{
    color: #858585;
}

.highlighter{
    background-color: #ffff00;
}

main section h1{
    font-size: 40px;
}

main h3 span{
    color: #34b0e7;
}

.margine{
    margin-top: 20px;
}

section div ul{
    margin-left: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;

}
.larghezzatabella{
    width: 25%;
}

.padding{
    height: 60px;
}

#titolo{
    background-color: #20a9e5;
    color: #FFFFFF;
    text-align: left;
}

.sfondoblu{
    background-color: #b1e5f2;
}

.over{
    background-repeat: no-repeat;
    color: #FFFFFF;
    background-color: red;
    font-size: 140%;
    font-weight: normal;
    text-align: center;
}


footer h4{
    margin-top: 45px;
}
.photofooter{
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    color: #FFFFFF;
    font-size: 1em;
    padding-top: 8px;
    padding-left: 8px;
}

#firstphoto{
    background-image: url(../img/monitor.jpg);
   
}

#secondphoto{
    background-image: url(../img/graph.jpg);
   
}

main, footer{
    margin-left: 10px;
    margin-right: 10px;
}